/* app css stylesheet */


.header {
  width:50%;
  background-color: grey;
  border-radius: 25px; 
  margin-right:20px;
  padding:20px 20px;
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

ul#menu{
  margin-top:20px;
}

a { 
  text-decoration : none;
   color :  white;
   }

#addDiv{
	margin-left:30px;
}

#inputTask{
  height:40px;
 
}


ul#ultaskList{
  list-style-type: none;
  font-size: 15px;
  width:50%;
}
ul#ultaskList li{
		display : block;
		padding:8px;
		margin:5px;
		border : 1px solid grey;
  }

  
