/* app css stylesheet */


.header {
  background-color: #c0c0c0;
  border-radius: 25px; 
  margin-right:25%;
  margin-left:25%;
  padding:20px 20px;
  color: #808080;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  
}

input::placeholder {
  color: #c0c0c0;
  font-size:13px;
  font-style:italic;
  font-weight: normal;
}

input{
	font-size:18px;
	font-family: sans-serif;
	font-weight: normal;
}

ul#ultaskList{
  list-style-type: none;
  font-size: 20px;
  font-family: sans-serif;
  font-color:#808080;
  font-weight: normal;
 
}


ul#ultaskList li{
	margin:5px;
	border : 1px solid grey;
	padding: 5px;
	text-align:left;
	
	
	
}

  
